<html>
  <head>    
    <title>Saludos</title>
    <meta charset="utf-8">
    <script src="../app/assets/jquery/jquery.min.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" media="screen" href="../app/assets/stylesheets/site.css">
   
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRxC6Y4f-j6nECyHWigtBATtJyXyha-XU&libraries=adsense&sensor=true&language=es"></script>
    </head>
</html>

<%= form_for(@local) do |f| %>
  <% if @local.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@local.errors.count, "error") %> prohibited this local from being saved:</h2>

      <ul>
      <% @local.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div id="div_form">
    <label>
    <%= f.label :name, 'class' => 'lbl_left_form' %>
    <%= f.text_field :name, 'class' => 'cajitas' %>
    </label>
  <label>
    <%= f.label :address, 'class' => 'lbl_left_form' %>
    <%= f.text_field :address, 'class' => 'cajitas' %>
  </label>
  <label>
    <%= f.label :district, 'class' => 'lbl_left_form'  %>
    <%= f.collection_select :district_id,
     District.all, :id, :name, options ={:prompt => "Seleccione"}, :class => "cajitas" %>
  </label>

  <label id="longitude">
    <%= f.label :longitude , 'class' => 'lbl_left_form' %>
    <%= f.text_field :longitude, 'class' => 'cajitas'  %>
  </label>
  <label id="latitude">
    <%= f.label :latitude, 'class' => 'lbl_left_form'  %>
    <%= f.text_field :latitude, 'class' => 'cajitas'  %>
  </label>
  <label>
    <%= f.label :phone, 'class' => 'lbl_left_form'  %>
    <%= f.text_field :phone , 'class' => 'cajitas'  %>
  </label>
  <label>
    <%= f.label :gmaps , 'class' => 'lbl_left_form' %>
    <%= f.check_box :gmaps %>
  </label>
</br>
  <div  id="map-canvas"</div>

</div>
 
  <div style="margin-left:150px;">
        <% if @paramId == 1 %>
          <%= f.submit "Registrar",:class => "botones" %>
        <% else %>
          <%= f.submit "Actualizar", :class => "botones" %>
        <% end %>
  </div>
<body class="dmaf">
<div id="page" class="layout-grid">
    
<div class="width2">
    Buscar direccion el google maps  <input type="text" maxlength="100" id="address" placeholder="Dirección" >


    <label for="submit" class="unitx2 first button">
        <a href="javascript:void(0)" class="send" id="search">Buscar Dirección</a>
    </label>
</div>
 <br/>
        <div id="map_canvas">
        </div>
 </div>
</div>
<script type='text/javascript'>
            var map = null;
  var marker = null;

  function initialize() {
      var myLatlng = new google.maps.LatLng(20.68009, -101.35403);
      var myOptions = {
          zoom: 4,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map($("#map_canvas").get(0), myOptions);
    marker = new google.maps.Marker({ map: map });
  }

  $('#search').live('click', function() {
      var address = $('#address').val();
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({ 'address': address}, geocodeResult);
  });

  function geocodeResult(results, status) {
      if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
          $('#local_latitude').val(results[0].geometry.location.lat());
      $('#local_longitude').val(results[0].geometry.location.lng());
          map.fitBounds(results[0].geometry.viewport);
          marker.setPosition(results[0].geometry.location);
      } else {
          alert("Geocoding no tuvo éxito debido a: " + status);
      }
  }
function inicializacion() {
    //Creo un nuevo mapa situado en Buenos Aires, Argentina, con 13 de Zoom y del tipo ROADMAP
    var mapa = new google.maps.Map(document.getElementById("map_canvas"),{center: new google.maps.LatLng(-34.60371794474704, -58.38158369064331),zoom: 13,mapTypeId: google.maps.MapTypeId.ROADMAP});
        
    //Creo un evento asociado a "mapa" cuando se hace "click" sobre el
    google.maps.event.addListener(mapa, "click", function(evento) {
        //Obtengo las coordenadas separadas
        var latitud = evento.latLng.lat();
        var longitud = evento.latLng.lng();
            
        //Puedo unirlas en una unica variable si asi lo prefiero
        var coordenadas = evento.latLng.lat() + ", " + evento.latLng.lng();
            
        //Las muestro con un popup
        alert(coordenadas);
            
        //Creo un marcador utilizando las coordenadas obtenidas y almacenadas por separado en "latitud" y "longitud"
        var coordenadas = new google.maps.LatLng(latitud, longitud); /* Debo crear un punto geografico utilizando google.maps.LatLng */
        var marcador = new google.maps.Marker({position: coordenadas,map: mapa, animation: google.maps.Animation.DROP, title:"Un marcador cualquiera"});
    }); //Fin del evento
        
} // Fin inicializacion()
$(document).ready(function() {
    initialize();
    
gmaps_ads();
});        </script>
            </body>
  
<% end %>
