<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @local.name %>
</p>

<p>
  <b>Direccion:</b>
  <%= @local.address %>
</p>

<p>
  <b>Distrito:</b>
  <%= @local.district.name %>
</p>

<p>
  <b>Longitud:</b>
  <%= @local.longitude %>
</p>

<p>
  <b>Latitud:</b>
  <%= @local.latitude %>
</p>

<p>
  <b>Telefono:</b>
  <%= @local.phone %>
</p>

<p>
  <b>Google maps:</b>
  <%= @local.gmaps %>
</p>
</br>
<%= gmaps4rails(@json) %>
<%= link_to 'Editar', edit_local_path(@local) %> |
<%= link_to 'Atras', locals_path %>
