<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @local.name %>
</p>

<p>
  <b>Address:</b>
  <%= @local.address %>
</p>

<p>
  <b>District:</b>
  <%= @local.district.name %>
</p>

<p>
  <b>Longitude:</b>
  <%= @local.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @local.latitude %>
</p>

<p>
  <b>Phone:</b>
  <%= @local.phone %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @local.gmaps %>
</p>
</br>
<%= gmaps4rails(@json) %>
<%= link_to 'Editar', edit_local_path(@local) %> |
<%= link_to 'Atras', locals_path %>
