<h1>Registro de Grupos de Musica</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Usuarios</th>
      <th>Estilo de musica</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bands.each do |band| %>
      <tr>
        <td><%= band.name %></td>
        <td><%= band.user.name %></td>
        <td><%= band.style.name %></td>
        <td><%= link_to 'Ver', band %></td>
        <td><%= link_to 'Editar', edit_band_path(band) %></td>
        <td><%= link_to 'Eliminar', band, method: :delete, data: { confirm: 'Esta seguro que desea eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Grupo', new_band_path %>
