<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @band.user_id %>
</p>

<p>
  <strong>Style:</strong>
  <%= @band.style_id %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
