<% contador = 1 %>

<h1>LISTA CONCIERTOS</h1>

<table id="myTable" class="tablesorter" cellspacing="1" cellpadding="0" border="0">
<thead>
  <tr>

    <th>Conciertos</th>
    <th>Local</th>
    <th colspan=2>Opciones</th>

  </tr>
</thead> 

<tbody>
    <% @concerts.each do |concert| %>
      <% contador+=1; %>
      <% if contador % 2 != 0 %> 
        <% @clase = "fila_par detalle"  %>
      <% else %>
        <% @clase = "fila_impar detalle"  %>
      <% end %>
    <tr class="<%= @clase %>" >
        <td><%= concert.name %></td>
        <td><%= concert.local.name %></td>
        <td><%= link_to "comentar", :controller => "comments", :action => "new", :id => concert.id   %>
        </td>
        <td><%= link_to "Ver Comentarios", :controller => "comments", :action => "ver", :id => concert.id   %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
