<p id="notice"><%= notice %></p>

<p>
  <b>Concierto:</b>
  <%= @comment.concert.name %>
</p>

<p>
  <b>Comentario:</b>
  <%= @comment.text %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
