<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %> 
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="div_form">
      <label>
        <span> <%= f.label :Tipo_de_Usuario, 'class' => 'lbl_left_form' %> </span>
        <%= f.collection_select :user_type_id, UserType.all, 
        :id, :name, options ={:prompt => "Seleccione"}, :class => "cajitas" %>
      </label>

      <label>
        <span> <%= f.label :Nombre, 'class' => 'lbl_left_form' %> </span>
        <%= f.text_field :name, 'class' => 'cajitas' %>
      </label>

      <label>
        <span> <%= f.label :Apellido_Paterno, 'class' => 'lbl_left_form' %> </span>
        <%= f.text_field :last_name, 'class' => 'cajitas' %>
      </label>
    

      <label>
        <%= f.label :Apellido_Materno, 'class' => 'lbl_left_form' %>
        <%= f.text_field :surname, 'class' => 'cajitas' %>
      </label>  

      <label>
        <%= f.label :Sexo, 'class' => 'lbl_left_form' %>
        <select name="post[author_id]" class="cajitas">
          <option value="" selected="selected">Seleccionar</option>
          <option value="1">Masculino</option>
          <option value="2">Femenino</option>
        </select>
      </label>

      <label>
          <%= f.label :Tipo_de_Documento, 'class' => 'lbl_left_form' %>
          <%= f.collection_select :doc_type_id, DocType.all, :id, :name, options ={:prompt => "Seleccione"}, :class => "cajitas" %>
      </label>  

      <label>
        <%= f.label :Num_Documento, 'class' => 'lbl_left_form' %>
        <%= f.text_field :doc_number, 'class' => 'cajitas' %>
      </label>

      <label>
        <%= f.label :Usuario, 'class' => 'lbl_left_form' %>
        <%= f.text_field :user_name, 'class' => 'cajitas' %>
      </label>

      <label>
        <%= f.label :Email, 'class' => 'lbl_left_form' %>
        <%= f.text_field :mail, 'class' => 'cajitas' %>
      </label>

      <label>
        <%= f.label :Confirmar_Email, 'class' => 'lbl_left_form' %>
        <%= f.text_field :mail, 'class' => 'cajitas' %>
      </label>

      <label>
        <%= f.label :password, 'class' => 'lbl_left_form' %>
        <%= f.password_field :password, 'class' => 'cajitas' %>
      </label>

      <label>
        <%= f.label :Confirmar_Password, 'class' => 'lbl_left_form' %>
        <%= f.password_field :password1, 'class' => 'cajitas' %>
      </label>
      
      <div>
        <%= f.submit "Registrar Usuario", :class => "botones" %>
      </div>

  </div>
<% end %>