<h1>Listing users</h1>

<table> 
  <thead>
    <tr>
      <th>Tipo de Usuario</th>
      <th>Nombre</th>
      <th>Ape. Paterno</th>
      <th>Ape. Materno</th>
      <th>Genero</th>
      <th>Tipo Doc.</th>
      <th>Numero Doc.</th>
      <th>Usuario</th>
      <th>Email</th>
      <th>Password</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_type_id %></td>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.surname %></td>
        <td><%= user.gender %></td>
        <td><%= user.doc_type_id %></td>
        <td><%= user.doc_number %></td>
        <td><%= user.user_name %></td>
        <td><%= user.mail %></td>
        <td><%= user.password %></td>
        <td><%= link_to 'Ver', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
