<% contador = 1 %>

<h1>Registro de Usuario por Grupo de Musica</h1>

<table id="myTable" class="tablesorter" cellspacing="1" cellpadding="0" border="0">
  <thead>
    <tr>
      <th>Grupo de Musica</th>
      <th>Integrantes</th>
      
    </tr>
  </thead>

  <tbody>
    <% @users_bands.each do |users_band| %>
    <% contador+=1; %>
      <% if contador % 2 != 0 %> 
        <% @clase = "fila_par detalle"  %>
      <% else %>
        <% @clase = "fila_impar detalle"  %>
      <% end %>

     <tr class="<%= @clase %>" >

        <td><%= users_band.band.name %></td>
        <td><%= link_to users_band do %>
            <%= UsersBand.count(:band_id, :conditions => ["band_id=?",users_band.band.id] ) %>
          <% end %>
        </td>

      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Usuario por Grupo de Musica', new_users_band_path %>


