<p id="notice"><%= notice %></p>

<p>
  <b>Band:</b>
  <%= @users_band.band.name %>
</p>

<p>
  <strong>Integrantes:</strong>
  <%= @users_band.user.name %>
</p>

<table>

  <% @users_band.each do |user| %>
     <tr>
     	<td>
     	  <%= user.name %>	
     	</td>
     </tr>
  <% end %>

</table>


<%= link_to 'Editar', edit_users_band_path(@users_band) %> |
<%= link_to 'Atrás', users_bands_path %>

