<!DOCTYPE html>
<html>
<head>
  <title>LinkedinUpc</title>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery/jquery-1.7.2.min", "data-turbolinks-track" => true %>
  <%= yield :head%>
  <%= csrf_meta_tags %>

        
        <style type="text/css">
            #myTable{
                background-color: #CDCDCD;
                font-family: arial;
                font-size: 8pt;
                text-align: left;
                width: 100%;
            }
            
            #myTable thead tr th{
                background-color: #000040;
                font-size: 8pt;
                padding: 4px; 
                color: #FFF;
                text-align: center;
                font-family: 'Trebuchet MS';
            }

            #myTable tbody tr td{
                padding: 4px;
                font-family: 'Trebuchet MS';
            }
            #myTable tbody tr.fila_par{
                background-color: #F0F0F6;
            }
            #myTable tbody tr.fila_impar{
                background-color: #FFF;
            }
            #myTable tbody tr:hover{
                background-color: #F3FA83;
                cursor: pointer;
            }
            
            #myTable .pinta_fila {
                background: #F3FA83 !important;
            }
            /*
            #myTable .pinta_header {
                background: blue !important;
            }*/
        </style> 


	<script type="text/javascript">
	    
	    $(document).ready(function(){
	    	
	        $("#myTable .detalle").live('click',function(){
	            $(this).toggleClass('pinta_fila');
	        });
	        $("#myTable .detalle").live('mouseover',function(){
	            $(this).css({'color':'#149631','background-color':'#D8C4BA'});
	        });
	        $("#myTable .detalle").live('mouseout',function(){
	            $(this).css({'color':'','background-color':''});
	        });
	    })


var map;
function initialize() {
  var mapOptions = {
    zoom: 8,
    center: new google.maps.LatLng(-34.397, 150.644),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>

</head>
<body>

<div id="general">
	<div id="head">
	</div>
	
	<div id="content">
		<div id="left">
			<div id="menu">
				<ul>
					<li><%= link_to  "Tipo de Documento", doc_types_path %></li>
					<li><%= link_to  "Tipo de Usuarios", user_types_path %></li>
					<li><%= link_to  "Usuarios", users_path %></li>
					<li><%= link_to  "Asistencias", assistances_path %></li>
					<li><%= link_to  "Estilos", styles_path %></li>
					<li><%= link_to  "Bandas", bands_path %></li>
					<li><%= link_to  "Distritos", districts_path %></li>
					<li><%= link_to  "Locales", locals_path %></li>
					<li><%= link_to  "Conciertos", concerts_path %></li>
					<li><%= link_to  "Comentarios", comments_path %></li>
				</ul>
			</div>

		</div>
		<div id="center">
			<%= yield %>
		</div>
		
		
		<div style="clear:both"></div>
	</div>
	
	<div id="foot">
		LinkedIn-UPC Corporation © 2013

	</div>
</div>
<%= yield :scripts%> 
</body>
</html>
