<!DOCTYPE html>
<html>
<head>
  <title>LinkedinUpc</title>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery/jquery-1.7.2.min", "data-turbolinks-track" => true %>
  <%= yield :head%>
  <%= csrf_meta_tags %>
        <style type="text/css">
            #myTable{
                background-color: #CDCDCD;
                font-family: arial;
                font-size: 8pt;
                text-align: left;
                width: 100%;
            }
            
            #myTable thead tr th{
                background-color: #000040;
                font-size: 8pt;
                padding: 4px; 
                color: #FFF;
                text-align: center;
                font-family: 'Trebuchet MS';
            }

            #myTable tbody tr td{
                padding: 4px;
                font-family: 'Trebuchet MS';
            }
            #myTable tbody tr.fila_par{
                background-color: #F0F0F6;
            }
            #myTable tbody tr.fila_impar{
                background-color: #FFF;
            }
            #myTable tbody tr:hover{
                background-color: #F3FA83;
                cursor: pointer;
            }
            
            #myTable .pinta_fila {
                background: #F3FA83 !important;
            }
            /*
            #myTable .pinta_header {
                background: blue !important;
            }*/
        </style> 


	<script type="text/javascript">
	    
	    $(document).ready(function(){
	    	
	        $("#myTable .detalle").live('click',function(){
	            $(this).toggleClass('pinta_fila');
	        });
	        $("#myTable .detalle").live('mouseover',function(){
	            $(this).css({'color':'#149631','background-color':'#D8C4BA'});
	        });
	        $("#myTable .detalle").live('mouseout',function(){
	            $(this).css({'color':'','background-color':''});
	        });
	    })


var map;
function initialize() {
  var mapOptions = {
    zoom: 8,
    center: new google.maps.LatLng(-34.397, 150.644),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>

</head>
<body>

<div id="general">
	<div style="margin-left:850px; font-weight:bold">
		<% if flash[:alert] %>
		  <p class="notice"><%= flash[:alert] %></p>
		<% end %>
	</div>
		<div id="head">
				<div style="width:750px; float:left">&nbsp;
				</div>

				<div style="float:left">
					
					<% if (session[:flag_session] == true) %>
						<div style="text-align:right; width:300px;">
							<span style="font-weight:bold"><%= session[:user_name] %> <span>| <%= link_to "Salir", logout_path %>
						</div>
					<% else %>
						<%= form_tag sessions_path, :id => 'frmLogin' do %>
							  <div style="margin-bottom:10px;">
							  	<div style="width:0px;">
							    	<%= label_tag :email, nil, :class => 'lblLogin' %>
							    </div>
							    <%= text_field_tag :email, params[:email] , :class => 'txtLogin'  %>
							  </div>

							  <div style="margin-bottom:10px;">
							  	<div style="width:0px;">
							    	<%= label_tag :password, nil, :class => 'lblLogin' %>
							    </div>
							    <%= password_field_tag :password, nil, :class => 'txtLogin' %>
							  </div>
							  <div>
							  	<%= submit_tag "Ingresar", :class => 'actions' %>
							  	<%= link_to "Registrarse", registrarse_path %>
							  </div>
						<% end %>
					<% end %>
				</div>
		</div>
		<% if (session[:flag_session] == true) %>
			<div id="content">
				<div id="left">
					<div id="menu">
						<ul>
							<li><%= link_to  "Tipo de Documento", tipoDocumentos_path %></li>
							<li><%= link_to  "Tipo de Usuarios", tipoUsuarios_path %></li>
							<li><%= link_to  "Usuarios", usuarios_path %></li>
							<li><%= link_to  "Asistencias", asistencias_path %></li>
							<li><%= link_to  "Estilos", estilos_path %></li>
							<li><%= link_to  "Bandas", bandas_path %></li>
							<li><%= link_to  "Distritos", distritos_path %></li>
							<li><%= link_to  "Locales", locales_path %></li>
							<li><%= link_to  "Conciertos", conciertos_path %></li>
							<li><%= link_to  "Comentarios", comentarios_path %></li>
						</ul>
					</div>

				</div>
				<div id="center">
					<%= yield %>
				</div>
				
				
				<div style="clear:both"></div>
			</div>
		<% else %>

			<% if @paramId != 1 %>
				
					<% if flash[:notice] %>
						<div style="font-weight:bold; text-align:center; margin: 20px 0px 0px 0px">	
							<%= flash[:notice] %>
						</div>
						
					<% end %>		
					

				<div id="banner_sub_portada">
				</div>
			<% else %>

				<div style="width:500px;float;left; margin:50px 0px 50px 350px;">
					<%= form_for(@user) do |f| %>
					  	<% if @user.errors.any? %>
						    <div id="error_explanation">
						      <h2>Completar Datos</h2>

						      <ul>
						      <% @user.errors.full_messages.each do |msg| %>
						        <li><%= msg %></li>
						      <% end %>
						      </ul>
						    </div>
					  	<% end %>
						  
						  	<div id="div_form">
						      <label>
						        <span> <%= f.label :Tipo_de_Usuario, 'class' => 'lbl_left_form' %> </span>
						        <%= f.collection_select :user_type_id, UserType.all, 
						        :id, :name, options ={:prompt => "Seleccione"}, :class => "cajitas" %>
						      </label>

						      <label>
						        <span> <%= f.label :Nombre, 'class' => 'lbl_left_form' %> </span>
						        <%= f.text_field :name, 'class' => 'cajitas' %>
						      </label>

						      <label>
						        <span> <%= f.label :Apellido_Paterno, 'class' => 'lbl_left_form' %> </span>
						        <%= f.text_field :last_name, 'class' => 'cajitas' %>
						      </label>

						      <label>
						        <%= f.label :Apellido_Materno, 'class' => 'lbl_left_form' %>
						        <%= f.text_field :surname, 'class' => 'cajitas' %>
						      </label>  

						      <label>
						          <%= f.label :Sexo, 'class' => 'lbl_left_form' %>
						          <%= f.collection_select :sex_id, Sex.all, :id, :name, options ={:prompt => "Seleccione"}, :class => "cajitas" %>
						      </label>  

						      <label>
						          <%= f.label :Tipo_de_Documento, 'class' => 'lbl_left_form' %>
						          <%= f.collection_select :doc_type_id, DocType.all, :id, :name, options ={:prompt => "Seleccione"}, :class => "cajitas" %>
						      </label>  

						      <label>
						        <%= f.label :Num_Documento, 'class' => 'lbl_left_form' %>
						        <%= f.text_field :doc_number, 'class' => 'cajitas' %>
						      </label>

						      <label>
						        <%= f.label :Usuario, 'class' => 'lbl_left_form' %>
						        <%= f.text_field :user_name, 'class' => 'cajitas' %>
						      </label>

						      <label>
						        <%= f.label :Email, 'class' => 'lbl_left_form' %>
						        <%= f.text_field :mail, 'class' => 'cajitas' %>
						      </label>

						      
						        <label>
						          <%= f.label :Confirmar_Email, 'class' => 'lbl_left_form' %>
						          <%= f.text_field :mail_confirmation, 'class' => 'cajitas' %>
						        </label>

						        <label>
						          <%= f.label :Password, 'class' => 'lbl_left_form' %>
						          <%= f.password_field :password, 'class' => 'cajitas' %>
						        </label>

						        <label>
						          <%= f.label :Confirmar_Password, 'class' => 'lbl_left_form' %>
						          <%= f.password_field :password_confirmation, 'class' => 'cajitas' %>
						        </label>
						      


						      	<div>
						        	<%= f.submit "Registrar Usuario",:class => "botones" %>
					     		</div>


						  	</div>
					<% end %>
				</div>

			<% end %>
		<% end %>

		<div id="foot">
			LinkedIn-UPC Corporation © 2013

		</div>
	
</div>
<%= yield :scripts%> 
</body>
</html>
