<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de Usuario:</strong>
  <%= @user.user_type_id %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apellido Paterno:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Apellido Materno:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Tipo de Documento:</strong>
  <%= @user.doc_type_id %>
</p>

<p>
  <strong>Num. Documento:</strong>
  <%= @user.doc_number %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
