<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo de Usuario:</strong>
  <%= @user.user_type.name %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apellido Paterno:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Apellido Materno:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @user.sex.name %>
</p>

<p>
  <strong>Tipo de Documento:</strong>
  <%= @user.doc_type.name %>
</p>

<p>
  <strong>Num. Documento:</strong>
  <%= @user.doc_number %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.mail %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Retornar', users_path %>
