<%= form_for(@band) do |f| %>
  <% if @band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band.errors.count, "error") %> prohibited this band from being saved:</h2>

      <ul>
      <% @band.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div id="div_form">

      <label>
        <span> <%= f.label :Nombre, 'class' => 'lbl_left_form' %> </span>
        <%= f.text_field :name, 'class' => 'cajitas' %>
      </label>

      <label>
        <span> <%= f.label :estilo, 'class' => 'lbl_left_form' %> </span>
        <%= f.collection_select :style_id, Style.all, 
        :id, :name, options ={:prompt => "Seleccione"}, :class => "cajitas" %>
      </label>


      <div>
        <%= f.submit "Registrar Grupo de Musica", :class => "botones" %>
      </div>
</div>
<% end %>
