<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @band.name %>
</p>


<p>
  <strong>Estilos:</strong>
  <%= @band.style.name %>
</p>



<%= link_to 'Editar', edit_band_path(@band) %> |
<%= link_to 'Atrás', bands_path %>


