<h1>Listing locals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>District</th>
      <th>Maps x</th>
      <th>Maps y</th>
      <th>Phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locals.each do |local| %>
      <tr>
        <td><%= local.name %></td>
        <td><%= local.address %></td>
        <td><%= local.district_id %></td>
        <td><%= local.maps_x %></td>
        <td><%= local.maps_y %></td>
        <td><%= local.phone %></td>
        <td><%= link_to 'Show', local %></td>
        <td><%= link_to 'Edit', edit_local_path(local) %></td>
        <td><%= link_to 'Destroy', local, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Local', new_local_path %>
