<%= form_for(@concert) do |f| %>
  <% if @concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@concert.errors.count, "error") %> prohibited this concert from being saved:</h2>

      <ul>
      <% @concert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="div_form">
      <label>
        <span> <%= f.label :Nombre, 'class' => 'lbl_left_form' %> </span>
        <%= f.text_field :name, 'class' => 'cajitas' %>
      </label>

      <label>
        <span> <%= f.label :Local, 'class' => 'lbl_left_form' %> </span>
        <%= f.collection_select :local_id, Local.all, 
        :id, :name, options ={:prompt => "Seleccione"}, :class => "cajitas" %>
      </label>

      <label>
        <span> <%= f.label :Banda, 'class' => 'lbl_left_form' %> </span>
        <%= f.collection_select :band_id, Band.all, 
        :id, :name, options ={:prompt => "Seleccione"}, :class => "cajitas" %>
      </label>

      <label>
        <%= f.label :Fecha, 'class' => 'lbl_left_form' %> 
        <%= f.date_select :date, 'class' => 'cajitas' %>
       </label>

   
      <label>
           <ul>
       <%= f.label :Hora_Inicio, 'class' => 'lbl_left_form' %> 
        <%= f.time_select :begin_time, 'class' => 'cajitas' %>
           </ul>
      </label>
      
      <label>
        <ul>
         <%= f.label :Hora_Final, 'class' => 'lbl_left_form' %> 
        <%= f.time_select :end_time, 'class' => 'cajitas' %>
        </ul>
      </label>

  <div>
    <%= f.submit "Registrar Concierto", :class => "botones" %>
  </div>

</div>
<% end %>