<h1>Listing concerts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Local</th>
    <th>Band</th>
    <th>Date</th>
    <th>Begin time,</th>
    <th>End time</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @concerts.each do |concert| %>
  <tr>
    <td><%= concert.name %></td>
    <td><%= concert.local_id %></td>
    <td><%= concert.band.name %></td>
    <td><%= concert.date %></td>
    <td><%= concert.begin_time %></td>
    <td><%= concert.end_time %></td>
    <td><%= concert.status %></td>
    <td><%= link_to 'Ver', concert %></td>
    <td><%= link_to 'Editar', edit_concert_path(concert) %></td>
    <td><%= link_to 'Eliminar', concert, method: :delete, data: { confirm: 'Esta seguro que desea eliminar?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Concierto', new_concert_path %>
