<%= form_for(@style) do |f| %>
  <% if @style.errors.any? %>
    <div id="error_explanation">
      <h2>Completar Datos</h2>

      <ul>
      <% @style.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="div_form">
      <label>
        <%= f.label :Nombre, 'class' => 'lbl_left_form' %>
        <%= f.text_field :name, 'class' => 'cajitas' %>
      </label>

      <div style="margin-left:150px;">
        <% if @paramId == 1 %>
          <%= f.submit "Registrar",:class => "botones" %>
        <% else %>
          <%= f.submit "Actualizar", :class => "botones" %>
        <% end %>
      </div>


  </div>


<% end %>
