<% contador = 1 %>
<div id="title">
  <div id="texto">LISTA DE ESTILOS</div>
  <div id="opciones">
    <%= link_to new_style_path, :class => "link_img", :title => "Nuevo Estilo" do %>
      <%= image_tag('/assets/agregar.png') %>
    <% end %>
  </div>
</div>


<% if @styles.empty? %>
  <div id="msje_no_filas">No existen estilos registrados en el Sistema.</div>
<% else %>
<table id="myTable" class="tablesorter" width=800 cellspacing="1" cellpadding="0" border="0">
  <thead>

    <tr>
      <th width=550>Name</th>
      <th colspan=3>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @styles.each do |style| %>
      <% contador+=1; %>
          <% if contador % 2 != 0 %> 
            <% @clase = "fila_par detalle"  %>
          <% else %>
            <% @clase = "fila_impar detalle"  %>
          <% end %>
      <tr class="<%= @clase %>">
        <td><%= style.name %></td>

        <td>
          <%= link_to style do %>
            <%= image_tag('/assets/search.png') %>
          <% end %>
        </td>

        <td>
          <%= link_to edit_style_path(style) do %>
            <%= image_tag('/assets/editar.png') %>
          <% end %>
        </td>
        <td>
          <%= link_to style, method: :delete, data: { confirm: '¿Estas Seguro de Eliminar?' } do %>
            <%= image_tag('/assets/eliminar.png') %>
          <% end %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
